<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Your 140 Seconds</title>
  <link href='/application.css' media='screen' rel='stylesheet' type='text/css' />
</head>
<body>
  <div id="wrapper">
    <h1>Your 140 Seconds</h1>
    <div id="summary">
      <p>Call <span class="highlight">0131 512 0050</span>.</p>
      <p>Speak for up to 140 seconds.</p>
      <p>Say anything you like (mostly).</p>
      <p>It gets posted to @<a href="http://twitter.com/y140s">y140s</a>.</p>
    </div>
    <div id="details">
      <p>Simple rule: <span class="highlight">don't record anything illegal</span>. We'll just delete it and if you're really sick <span class="highlight">send your phone number to the police</span>.</p>
      <p>We record your phone number but <span class="highlight">we will never contact you or distribute your details</span>. The number is recorded in our logs only as part of the normal operation of the site and isn't stored or processed outside of that.</p>
    </div>
    <p id='footer'>
      Feedback to @<a href="http://twitter.com/home?status=@semanticist%20&in_reply_to=semanticist">semanticist</a> |
      Copyright 2010,
      <a href='http://semantici.st'>John Daniels</a>
    </p>
  </div>
</body>
</html>